@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Smooch+Sans:wght@100..900&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
    
}
main section{
    text-align: center;
}

#background {
    height: 725px;
}
body{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family:Smooch Sans, Helvetica, sans-se
    rif;
}
header{
    background-color: gray;
    font-family:"Jersey 15";
  
}
nav a:hover{
    background-color: gray;
    color: white;

}
.book, .join{
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    background-color: gray;
    color:lightpink
    
   

}
.book:hover, .join:hover{
    background-color: lightgoldenrodyellow;
    color:lightpink

}
#background{
    background-color: white;

}
.msg{
    line-height: 1.5em;
    background-color: lightgrey;
    padding: 35px;
}
footer{
    margin-top: 200px;
    padding: 25px 50px;
    background-color: lightgray;
    color:black  

}
.home-title{
    margin-top: 10px;
    font-size: 2em;
    font-family:"Jersey 15";
    color:gray
    
}
h4{
    color: black;
}
.msg h2{
    font-family:"Jersey 15";
    color:black
    
  
}
.msg p{
    padding-bottom: 15px;
    font-size:.8em;
    color:black
    

}
footer a{
    text-decoration: none;
    color:black
   
}
footer a:hover{
    color: black;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
footer p {
    font-size: 1.2em;
}    
 
footer p a:hover {
    text-decoration: underline;
}    
#hero-img{
    min-width: 100%
}
h2{
    margin: 0;
    padding: 0;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
  margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}